@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
html{
	font-family: 'Open Sans', 'Times New Roman';
	overflow-x: hidden;
}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
body a{
	color: #000000;
}
html{
	font-size: 13px;
}
header{
	color: #ffffff;
	background: #000000;
	text-transform: uppercase;
	padding: 10px;
}
header a{
	color: #ffffff;
	text-decoration: none;
}
header div a{
	font-size: 1.4em;
}
nav a:hover{
	background-color: rgba(255,0,0,0.5);
	border-radius: 5px;
}
#tagline{
	font-size: 0.8em;
}
.navbar, .navbarItems{
	flex-direction: column;
}
.navbarItems{
	display: none;
	color: #ffffff;
	background-color: #000000;
}
.navbarToggleShow{
	display: flex;
}
.navbarToggle{
	display: inline-flex;
	cursor: pointer;
	font-size: 1.8em;
}
#logo{
	display: inline-block;
	margin-left: 1%;
	min-width: 25vw;
}
.navbarLink{
	padding: 3%;
}
.bgimg{
	height: 40vh;
	width: 100vw;
}
#about{
	background-color: black;
	background: url(../images/about.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
#bookshelf{
	background-color: black;
	background: url(../images/lib.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
#contact{
	background-color: black;
	background: url(../images/contact.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}
h1{
	color: #ffffff;
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
	line-height: 40vh;
	text-shadow: 2px 2px 5px #000000;
	font-family: 'Kaushan Script', 'Times New Roman';
}

#content{
	display: block;
	line-height: 1.5;
	width: 90vw;
	text-align: justify;
	margin: 2vh auto;
}
#container{
	flex: 1;
}

footer{
	background-color: #000000;
	text-align: center;
	color: #ffffff;
}
i{
	color: #ffffff;
	padding: 10px;
}
#picWrapper{
	text-align: center;
}
#pic{
	width: 40vw;
	border-radius: 50%;
	margin: 1% auto;
}
#notFound{
	font-weight: bold;
	font-size: 2rem;
}
#credits{
	font-size: 0.85rem;
}
#frontCredits{
	padding: 1%;
	font-size: 0.85rem;
}
#frontCredits a{
	color: #ffffff;
}
.image{
	border: 3px solid #000000;
	margin: 3%;
}
.bold{
	font-weight: bolder;
}
form{
	padding: 1%;
	margin: 1%;
	margin-right: 2%;
}
input, textarea{
	width: 100%;
	margin-bottom: 2%;
}
.button{
	text-transform: uppercase;
	color: #ffffff;
	background-color: #428bca;
	border: 0 none;
	padding: 1% 0;
	border-radius: 5px;
	cursor: pointer;
	width: 50vw;
}
#buttonWrapper{
	text-align: center;
}
#imgs{
	display: block;
	line-height: 1.5;
	width: 50vw;
	margin: 2vh auto;
}
.active{
	background-color: #ff0000;
	border-radius: 5px;
}
@media (min-width: 400px){
	html{
		font-size: 14px;
	}
	.navbarLink{
		padding: 2%;
	}
	header div a{
		font-size: 1.2em;
	}
	#tagline{
		font-size: 0.8em;
	}
	#content{
		width: 70vw;
	}
	#pic{
		width: 25vw;
	}
	#credits, #frontCredits{
		font-size: 0.8rem;
	}
	h1{
		font-size: 4.5rem;
	}
	.button{
		width: 35vw;
	}
}
@media (min-width: 900px){
	html{
	font-size: 15px;
	}
	header div a{
		line-height: 5vh;
		font-size: 1.5em;
	}
	.navbar, .navbarItems{
		display: flex;
		flex-direction: row;
	}
	.navbarItems{
		line-height: 8vh;
		min-width: 70vw;
	}
	#tagline{
		line-height: 3vh;
		font-size: 0.8em;
	}
	.navbarLink{
		padding: 0 5%;
	}
	.navbarToggle{
		display: none;
	}
	#content{
		width: 50vw;
	}
	#pic{
		width: 10vw;
	}
	#credits, #frontCredits{
		font-size: 0.7rem;
	}
	h1{
		font-size: 5rem;
	}
	.button{
		width: 20vw;
	}
}